<a class='backButt' href="/#/{{state}}">&ltback</a></p>
<h2 class='header'>{{riverName}}</h2>
<div>
    <h4 class='label'>Height </h4>
    <p class='info'>{{height}}</p>
    <p ng-click='showGraph1()' id='graphButt1' class='graphButt'>GRAPH</p>
    <span ng-hide='boolie1' id='graph1'>
        <img class='mq' width='500px' src="{{src1}}" alt="no image found">
    </span>
</div>
<br> 
<div>
    <h4 class='label'>CFS </h4>
    <p class='info'>{{cfs}}</p>
    <p ng-click='showGraph2()' id='graphButt2' class='graphButt'>GRAPH</p>
    <span ng-hide='boolie2' id='graph2' >
        <img class='mg' width='500px' src="{{src2}}" alt="no image found">
    </span>
</div>
<div style='display: none' id='data'></div>