doctype html
html(ng-app='flowandsnow')
  head
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel="stylesheet", href="pushy/css/normalize.css")
    link(rel="stylesheet", href="/pushy/css/pushy.css")
    link(rel="stylesheet", href="/stylesheets/riverView.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/nav.js')
    script(src='/javascripts/flowandsnow.js')
  body
    block content
      
      
